body {
  color: #333;
  font-size: 16px;
  line-height: 28px;
  text-rendering: optimizeLegibility;
  padding: 20px;
}

.bar {
  fill: black;
  shape-rendering: crispEdges;
}

.bar.today {
  fill: #666;
}

.axis {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.median-label {
  fill: red;
  font-style: italic;
  font-size: .7em;
}
.median {
  stroke: red;
  stroke-dasharray: 1,3;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
  shape-rendering: crispEdges;
}

line.y {
  stroke: #f1f1f1;
  shape-rendering: crispEdges;
}
